#############################################################
## NOT FOR PRODUCTION USE.                                 ##
## THE CONTENT OF THIS FILE IS FOR LEARNING PURPOSES ONLY  ##
## created by David Surey, Amazon Web Services, 2020       ##
#############################################################

- name: Setup Kubernetes Example Deployments
  hosts: localhost
  gather_facts: no

  vars: 
    ansible_ssh_private_key_file: "../../secrets/id_rsa_eks"
    ansible_user: ec2-user
    
  tasks:
    - name: check ansible version
      when: (ansible_version.major == 2 and ansible_version.minor < 8 ) or (ansible_version.major < 2)
      run_once: yes
      fail:
        msg: Please use Ansible 2.8 or newer

    - name: import static var data
      include_vars:
        dir: ../../vars/static
        ignore_unknown_extensions: True
        extensions:
          - yaml

    - name: import dynamic var data
      include_vars:
        dir: ../../vars/dynamic
        ignore_unknown_extensions: True
        extensions:
          - yaml

    - name: Get AWS Account Information
      delegate_to: "{{ EKSBastionInstancePublicIP }}"
      aws_caller_info:
      register: caller_info

    - name: setup kube services
      include_tasks: "{{ item }}"
      loop:
        - ./tasks/microservice-example.task.yaml